.item{
    box-shadow: 0px -8px 94px rgba(0, 0, 0, 0.24), 0px -3.34221px 39.271px rgba(0, 0, 0, 0.172525), 0px -1.7869px 20.9961px rgba(0, 0, 0, 0.143066), 0px -1.00172px 11.7703px rgba(0, 0, 0, 0.12), 0px -0.532008px 6.2511px rgba(0, 0, 0, 0.0969343), 0px -0.221381px 2.60122px rgba(0, 0, 0, 0.0674749);
    background-color: #181818;
    border-radius: 15px;
    max-width:223px;
}